*{
    padding: 0;
    margin: 0;
    background-color: black;
}

@font-face {
    font-family: logos;
    src: url(fonts/ContrailOne-Regular.ttf);
}
@font-face {
    font-family: parrafos;
    src: url(fonts/BebasNeue-Regular.ttf);
}
p{
    font-family: parrafos;
    color: white;
    font-size: 20px;
}
header{
    position: sticky;
    top: 0;
    background-color: black;
    margin: 0 10px 10px 10px;
    grid-area: header;
    border-bottom: 5px white solid;
}

h1{
    font-family: logos;
    font-size: 70px;
    margin:10px;
    padding: 1px;
    color: white;
    border-radius: 1px;
    width: 70px;
    transition: all .2s;
}
h1:hover{
    transform: scale(1.2);
}
.buttons{
    display: flex;
    gap: 17px;
    justify-content: end;
    flex-direction: row;
    flex-wrap: wrap;
}
.buttons li a{
    color: white;
    text-decoration: none;
    font-family: parrafos;
    font-size: 25px;
}

