*{
    padding: 0;
    margin: 0;
    background-color: black;
}

@font-face {
    font-family: logos;
    src: url(fonts/ContrailOne-Regular.ttf);
}
@font-face {
    font-family: parrafos;
    src: url(fonts/BebasNeue-Regular.ttf);
}
p{
    font-family: parrafos;
    color: white;
    font-size: 20px;
}
header{
    position: sticky;
    top: 0;
    background-color: black;
    margin: 0 10px 10px 10px;
    grid-area: header;
    border-bottom: 5px white solid;
}
/* El unico problema con el header es que quiero bajar un poco mas el logo pero no se como. En cuanto a los botones, me quedaron tal cual queria pero solo justifique con justify content: end */


h1{
    font-family: logos;
    font-size: 70px;
    margin:10px;
    padding: 1px;
    color: white;
}
.buttons{
    display: flex;
    gap: 17px;
    justify-content: end;
    flex-direction: row;
    flex-wrap: wrap;
}
.buttons li a{
    color: white;
    text-decoration: none;
    font-family: parrafos;
    font-size: 25px;
}